* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 100%;
  box-sizing: border-box;
  height: 100%;
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  color: #444;
  background-color: #f3f3f3;
  min-height: 100vh;
  position: relative;
  max-width: 1400px;
  margin: 0 auto;
}

/* Common styles >>>>>> */

section {
  margin: 2rem 0;
}

a {
  text-decoration: none;
}

nav {
  display: flex;
  list-style: none;
  padding: 0 2rem;
  height: 60px;
  margin: 0 auto;
  background: #be703c;
  align-items: center;
  justify-content: space-evenly;
  font-weight: bold;
}

.nav-menu {
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: space-between;
  position: relative;
  height: 100%;
}

li {
  padding: 10px;
  transition: all 0.3s ease;
}

li:hover {
  margin-top: auto;
}

.flex-container {
  display: flex;
  width: 90%;
  gap: 2rem;
  margin: 1rem auto;
  flex-wrap: wrap;
  /* justify-content: center; */
  /* justify-content: space-between; */
  /* align-items: end; */
}

.flex-container * {
  background: rgb(33, 159, 128);
  flex: 1;
  flex-basis: 31%;
  padding: 2rem;
  transition: 0.3s;
  text-align: center;
  min-height: 350px;
  /* max-width: 350px; */
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
  color: white;
  font-weight: bold;
}

.flex-container *:hover {
  box-shadow: inset 23px 40px 48px rgb(227, 227, 227);
  box-shadow: 3px 4px 18px rgb(10, 1, 1);
}

@media (max-width: 600px) {
  .flex-container * {
    flex-basis: 100%;
  }
}
